*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 232, 190);
}

header {
    background-color: rgb(255, 208, 120);
    padding: 20px;
}

header span {
    color: rgb(254, 0, 0);
}

nav {
    background-color: rgb(56, 40, 11);
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    margin: 20px;
}

.a-navbar {
    color: rgb(211, 211, 211);
    text-decoration: none;
    font-size: 20px;
}

.a-navbar:hover {
    transition: 0.3s ease-in-out;
    color: white;
}

.container-navbar {
    background-color: rgb(255, 232, 190);
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-bottom: 30px;
}

.div1 {
    background-color: rgb(255, 208, 120);
    margin: 10 25 0 25px;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
}

.div-img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.div-h11-p1 {
    margin: 10px;
}

.a-h11:hover {
    font-size: 35px;
}

.p1 {
    margin-top: 5px;
}

.img1 {

    height: 165px;
    width: 250px;
}

.div2 {
    background-color: rgb(255, 208, 120);
    margin: 10 25 0 25;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
}

.div-img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.div-h12-p2 {
    margin: 10px;
}

.a-h12:hover {
    font-size: 35px;
}

.p2 {
    margin-top: 5px;
}

.img2 {

    height: 165px;
    width: 250px;
}

.div3 {
    background-color: rgb(255, 208, 120);
    margin: 10 25 0 25;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
}

.div-img3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.p3 {
    margin-top: 5px;
}

.div-h13-p3 {
    margin: 10px;
}

.a-h13:hover {
    font-size: 35px;
}

.img3 {
    height: 165px;
    width: 250px;
}

.div4 {
    background-color: rgb(255, 208, 120);
    margin: 10 50 0 25;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
}

.div-img4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.div-h14-p4 {
    margin: 10px;
}

.a-h14:hover {
    font-size: 35px;
}

.p4 {
    margin-top: 5px;
}

.img4 {
    height: 165px;
    width: 250px;
}

.container-navbar2 {
    background-color: rgb(255, 232, 190);
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-bottom: 50px;
}

.footer {
    background-color: rgb(121, 80, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 10px;
    font-size: 18px;
    font-weight: 800;
}